<div aurelia-app="main">
    <div class="splash">
        <div class="message">Aurelia Navigation Skeleton</div>
        <i class="fa fa-spinner fa-spin"></i>
    </div>

    <script src="jspm_packages/system.js"></script>
    <script src="config.js"></script>
    <script>
        System.import('aurelia-bootstrapper');
    </script>
</div>
